.container {
    background: url('../images/solo-travel-wallpaper.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.tour-container{
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
    opacity: 90%;
}

.details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.details .big-img{
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
}

.big-img img{
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: block;
    object-fit: cover;
}

.details .box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}

.details .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.bow .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.box .row span {
    color: #000;
    font-weight: 70;
}

.box p{
    line-height: 1.5;
    margin: 15px;
}

.box .cart{
    background: #333;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 15px;
}

